
body {
    background:linear-gradient(75deg, rgb(47, 47, 47),rgb(32, 31, 31));
}


.title {
    width: 360px;
    color:#89f87a;
    font-size: 40px;
    margin-left: 690px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    position: absolute;
    left: 40%;
    top: 150px;
}

input[type="button"] {
    
    background-color: rgba(81, 86, 116, 0.061);
    border: none;
    color: #89f87a;
    padding: 35px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 4px 4px;
}

input[type="text"] {
    background-color: #ff9e2e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 100%;
    margin-top: -5px;
    margin-left: -3px;
    padding-top: 80px;
    text-align: center;
    color:#293344;
}

.CalculatorBody {
   
    border-radius: 10px;
    background-color: #535353;
}

.ResultBox {
    border-radius: 10px;   
}
